<section id="footer" th:fragment="footer">
	<div class="container">
    			
		 <p>  © Copyright 2018, SINGH. All Rights Reserved</p>
       <p style="margin-left: 15px;"> <a href="https://ors.gov.in/copp/disclaimer.jsp?ln=0">Disclaimer</a></p> 
        <img th:src="@{../images/deitylogo.png}" alt="Department Of Electronics and Information Technology">
        <img th:src="@{../images/nic_logo.png}" alt="National Informatics Center">
    </div><!--CONTAINER-->
   
    <div class="clearfix"></div>

</section>
